{%  include 'Resources/base.html.twig' %}

{% block body %}
    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper">
                <div class="content">
                    <form name="form" id="myForm" method="post">
                        <div class="form-group row">
                            <div class="col-md-10">
                                <h5 class="section-title"> Личные данные</h5>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div><input type="text" id="name" required="required" placeholder="Имя" class="form-control" /></div>
                                    </div>
                                    <div class="form-group">
                                        <div><input type="text" id="phone" required="required" placeholder=" +375(XX)XXX-XX-XX" class="form-control" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h5 class="section-title"> Масса посылки</h5>
                                <div class="form-group">
                                    <div><input type="text" id="weight" required="required" placeholder="масса поссылки" class="form-control" /></div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h5 class="section-title"> Доставки</h5>

                                <div class="radio">
                                    <label><input type="radio" value="pickup" name="deliveryradio">Самовывоз</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" value="couriers" name="deliveryradio">Курьером</label>
                                </div>

                                <div class="radio">
                                    <label><input type="radio" value="post" name="deliveryradio">Почтой</label>
                                </div>
                                <div class ="hide" id="hide_pickup" style="display: none">
                                    <div class="row">
                                        <div class="col-6 ">
                                            <div id="hide_pickup">
                                                <div class="radio">
                                                    <h3>Пунк выдачи заказа:</h3>
                                                    <label><input type="radio" value="pickup" name="optradio">г. Минск, ул. Якуба коласа</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class ="hide" id="hide_couriers" style="display: none">
                                    <div class="form-group">

                                        <div class="col-6">
                                            Радиус доставки
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" value="town" name="optradio">г. Минск</label>
                                        </div>
                                        <div class="radio">
                                                <label><input type="radio" value="district" name="optradio">Минский район</label>
                                        </div>

                                        <div class="radio">
                                            <label><input type="radio" value="region" name="optradio">Минская область</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" value="country" name="optradio">По Беларуси</label>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="section-title"> Общая стоимость: <span id="myspan">0.0</span> Руб.
                                </h5>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
