.h1{
    background-color: red;
}
.test{
    background: aqua;
   padding: auto;
}

.page-container {
    padding: 20px 20px 60px;
}

.h5{
    color: black;
    font-weight: normal;
    font-family: 'Century Gothic';
}

.hide h3{
    padding-left:  40px;
    font-size: 18px;

}

.hide h4{
    padding-left:  50px;
    font-size: 15px;

}

.error {
    border-bottom: 2px solid red;
}

.section-title {
    font-weight: 400;
    border-bottom: 2px solid #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    margin-top: 0;
}